/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.grid-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', sans-serif;
    background-color: #101214;
    color: #7A7C80;

}

h2,.white{
    color: #fff;
}

a{
    /*color: #7A7C80;*/
    color: #fff;
    text-decoration: none;
}
/* section 1 */
.section-1{
    padding-top: 35vh;
    /*padding-bottom: 40vh;*/
    padding-left: 20vw;
    text-align: center;
}

.section-1 p{
    font-size: 1rem;
    padding-bottom: 10px;
    margin:0;
}

.section-1 h2{
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.section-1 a{
    font-size: 1.4rem;
    padding: 10px;
}
/* section 2 */
.section-2{
    padding-top: 25vh;
    /*padding-bottom: 25vh;*/
    width: 70%;
}

.section-2 h2{
    font-size: 1rem;
    margin-bottom: 10px;
}

.section-2 p{
    font-size: 0.8rem;
    padding-bottom: 10px;
    margin:0;
}

.section-2 a{
    font-size: 0.8rem;
    padding-left: 0;
    width: 100px;
}

/* media queres */
@media(max-width:780px){
    .grid-2{
        grid-template-columns: 1fr;
    }
    .section-1{
        padding:0;
        padding-top: 5rem;
    }
    .section-2{
        padding: 0;
        padding-left: 1.5rem;
        padding-top: 2rem;
    }
}

.avatar {
    vertical-align: middle;
    /* width: 180px; */
    /* height: 180px; */
    border-radius: 50%;
}

#gallery {
    line-height:0;
    -webkit-column-count:3; /* split it into 5 columns */
    -webkit-column-gap:5px; /* give it a 5px gap between columns */
    -moz-column-count:3;
    -moz-column-gap:5px;
    column-count:3;
    column-gap:5px;
 }

 #gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom:5px; /* to match column gap */
 }
